@model IList<Shared.CategoryVm>

<a href="#">Category<span class="caret"></span></a>
  <ul class="dropdown-menu">  
    @foreach (var cate in Model)
    {
      <li><a class="dropdown-item" asp-action='Category' asp-controller='Home' asp-route-id='@cate.Id'>@cate.Name</a></li>
    }         
  </ul>
</a>