@model IList<Shared.ProductVm>

@{
    ViewData["Title"] = "Home Page";
}
<div class="products">
    @foreach (var product in Model)
    {
        <div class="card">
            <p>@product.Name</p>
            <img src="@product.Image"/>
            <span>Price: <b>@product.Price</b> VND</span>
        </div>
    }
</div>