@model IEnumerable<Shared.ProductVm>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
    @foreach (var item in Model)
    {        
        <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
            <div class="car1" style="width: 250px;">
              <div class="product_img"> <img class="img-responsive" src='@Configuration["imgUrl"]/@item.Image' alt="" width="100%" > </div>
              <div class="product_detail_btm">
                <div class="center">
                  <h4><a href="it_shop_detail.html">@item.Name</a></h4>
                </div>
                <div class="starratin">
                  <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                  <p><span class="new_price">@item.Price</span></p>
                </div>
              </div>
            </div>
          </div>
    }